<style>
  #extension {
    background-color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 9001;
  }
  .h1-outline    { outline: 1px solid red; }
  .h2-outline    { outline: 1px solid orange; }
  .h3-outline    { outline: 1px solid yellow; }
  .h4-outline    { outline: 1px solid green; }
  .h5-outline    { outline: 1px solid blue; }
  .h6-outline    { outline: 1px solid cyan; }
  .h7-outline    { outline: 1px solid plum; }
  .h8-outline    { outline: 1px solid maroon; }
  .h1-background { background-color: red; }
  .h2-background { background-color: orange; }
  .h3-background { background-color: yellow; }
  .h4-background { background-color: green; }
  .h5-background { background-color: blue; }
  .h6-background { background-color: cyan; }
  .h7-background { background-color: plum; }
  .h8-background { background-color: maroon; }
</style>
