<style>
  #extension {
    background-color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 9001;
  }
  .h1-outline    { outline: 1px solid red !important; }
  .h2-outline    { outline: 1px solid orange !important; }
  .h3-outline    { outline: 1px solid yellow !important; }
  .h4-outline    { outline: 1px solid lime !important; }
  .h5-outline    { outline: 1px solid blue !important; }
  .h6-outline    { outline: 1px solid cyan !important; }
  .h1-background { background-color: red !important; }
  .h2-background { background-color: orange !important; }
  .h3-background { background-color: yellow !important; }
  .h4-background { background-color: lime !important; }
  .h5-background { background-color: blue !important; }
  .h6-background { background-color: cyan !important; }
</style>
